body {
    font-family: sans-serif;
    font-weight: bold;
    padding: 90px;
    
   }

button {
    background-color: rgb(214, 41, 128);
    color:white;
    border-radius: 8px;
    border: none;
    font-size: 30px;
    margin: 40px;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ol {
    font-size: 40px;
    background-color: pink;
    display: flex;
    justify-content: center;
    border-radius: 8px;
}

p {
    margin: 30px;
}

.buttons {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

li {
    margin: 20px;
}

