header {
        margin: 20px 120px 20px 50px;
        font-family: sans-serif;
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        text-decoration: none;
        color:rgb(214, 41, 128);
        font-size: 30px;
}

#choice-buttons {
    display: flex;
    flex-direction: column;
    width: fit-content;
    justify-content: space-evenly;
}